a {
  text-decoration: none;
}

a.top-anchor {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;

  width: 5rem;
  height: 5rem;

  position: fixed;
  right: 2rem;
  bottom: 2rem;

  border-radius: 50%;
  background-color: #1f1f22;
  color: white;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;

  transition: 0.2s;

  &:hover {
    background-color: #3e3e45;
    transform: scale(1.1);
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 1.5rem;

    span {
      font-weight: bold;
      color: #45423e;
    }
  }

  .chat {
    color: black;
    border: 2px solid black;
    padding: 1rem 2rem;
    font-weight: bold;

    transition: 0.5s;

    &:hover {
      background-color: #1f1f22;
      color: white;
    }
  }

  nav.pages {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: black;
      margin-right: 2rem;

      &.current {
        border-bottom: 2px solid black;
        padding-bottom: 5px;
        font-weight: bold;
      }

      &:not(.current):hover {
        border-bottom: 1px solid black;
      }
    }
  }
}
