// Colour scheme
$bg: white;
$prm: #313444;
$snd: #d8d8d8;

// Base Styles

.project {
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  .text,
  .media {
    width: 50%;
  }

  .media {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      object-fit: cover;
      width: 80%;
      height: auto;
      margin-right: 1.5rem;
      margin-bottom: 1.5rem;

      box-shadow: -7px 10px 26px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: -7px 10px 26px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -7px 10px 26px 0px rgba(0, 0, 0, 0.75);
    }

    a {
      margin-top: 1.5rem;
      background-color: #1f1f22;
      color: white;
      padding: 1rem 4rem;
      font-weight: bold;
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      transition: 0.5s;

      &:hover {
        background-color: white;
        color: #1f1f22;
        outline: 1px solid #1f1f22;
      }
    }
  }

  .project-header {
    transform: translateX(-2.5rem);

    display: flex;
    align-items: center;

    h1 {
      font-size: 8rem;
      margin-right: 3rem;
    }

    .side-content {
      font-size: 1.2rem;
      letter-spacing: 3px;

      height: 100%;

      display: flex;
      flex-direction: column;

      p {
        margin: 0.5rem 0;
      }
    }
  }

  .title-wrapper {
    border-top: 0.2rem solid $prm;
    border-bottom: 0.2rem solid $prm;

    padding: 1rem 0 3rem 0;
    margin: 2rem 0;

    h2 {
      font-size: 4rem;
    }
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p.about {
    font-size: 1.2rem;
    letter-spacing: 1px;

    margin-bottom: 1rem;
  }
}

.projects li:nth-child(even) {
  .project {
    flex-direction: row-reverse;

    .media {
      justify-content: flex-start;

      img {
        margin-right: 0;
        margin-left: 1.5rem;
      }
    }

    .project-header {
      transform: translateX(2.5rem);
      flex-direction: row-reverse;

      h1 {
        margin-left: 3rem;
      }
    }

    text-align: end;
  }
}
